@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    position: relative;
    padding: 9rem 0;
    background-repeat: no-repeat;
    background-size: cover;


    @include m.desktop {
        min-height: 75rem;
    }

    &::before {
        content: '';
        background-color: v.$negro;
        position: absolute;
        top: 0;
        left:0;
        right: 0;
        bottom: 0;
        opacity: .6;
    }

    .contenido-header {
        position: relative;
        color: v.$blanco;

        h1 {
            text-align: center;
            text-transform: uppercase;
            margin-top: v.$separacion;
            font-size: 3.6rem;
            line-height: 1.4;

            @include m.desktop {
                margin-top: calc(v.$separacion * 2);
                font-size: 4rem;
            }
        }
    }
}

/*****Background image de las páginas*****/

/* Header inicio */

.notavif.notwebp .header-inicio {
    background-image: url('../assets/img/header_inicio.jpg');
}

.webp .header-inicio {
    background-image: url('../assets/img/header_inicio.webp');
}

.avif .header-inicio {
    background-image: url('../assets/img/header_inicio.avif');
}

/* Header nosotros */

.notavif.notwebp .header-nosotros {
    background-image: url('../assets/img/header_nosotros.jpg');
}

.webp .header-nosotros {
    background-image: url('../assets/img/header_nosotros.webp');
}

.avif .header-nosotros {
    background-image: url('../assets/img/header_nosotros.avif');
}

/* Header proceso */

.notavif.notwebp .header-proceso {
    background-image: url('../assets/img/header_proceso.jpg');
}

.webp .header-proceso {
    background-image: url('../assets/img/header_proceso.webp');
}

.avif .header-proceso {
    background-image: url('../assets/img/header_proceso.avif');
}

/* Header menú */

.notavif.notwebp .header-menu {
    background-image: url('../assets/img/header_menu.jpg');
}

.webp .header-menu {
    background-image: url('../assets/img/header_menu.webp');
}

.avif .header-menu {
    background-image: url('../assets/img/header_menu.avif');
}

/* Header galería */

.notavif.notwebp .header-galeria {
    background-image: url('../assets/img/header_galeria.jpg');
}

.webp .header-galeria {
    background-image: url('../assets/img/header_galeria.webp');
}

.avif .header-galeria {
    background-image: url('../assets/img/header_galeria.avif');
}

/* Header contacto */

.notavif.notwebp .header-contacto {
    background-image: url('../assets/img/header_contacto.jpg');
}

.webp .header-contacto {
    background-image: url('../assets/img/header_contacto.webp');
}

.avif .header-contacto {
    background-image: url('../assets/img/header_contacto.avif');
}