@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
    position: relative;
    background-color: v.$primario;
    color: v.$primario;
    margin-top: -4rem;

    .contenido-footer {
        background-color: v.$blanco;
        padding: 5rem;

        @include m.tablet {
            width: 90%;
            max-width: 120rem;
            margin: 0 auto;
            @include m.grid(3, 2rem)
        }

        @include m.desktop {
            max-width: 108rem;
        }
    }

    .copyright {
        text-align: center;
        padding: 2rem;
        margin: 0;
        color: v.$blanco;
        line-height: 1.5;

        span {
            display: block;

            @include m.tablet {
                display: inline;
            }
        }
    }
}

.footer-box {
    font-family: v.$fuenteCursiva;
    text-align: center;
    margin-bottom: v.$separacion;

    &:last-of-type {
        margin-bottom: 0;
    }

    @include m.tablet {
        margin-bottom: 0;
    }

    h3 {
        font-family: v.$fuenteCursiva;
        margin: 0 0 1rem 0;
        color: v.$secundario;
    }

    p, a {
        font-size: 2rem;
        margin: 0;
        line-height: 1.5;
    }
}