@use 'base/variables' as v;
@use 'base/mixins' as m;

.header-menu {
    background-position: center;
    
    @include m.tablet {
        background-position: unset;
    }
}

.menu {
    h2 {
        margin-top: 3rem;
    
        @include m.tablet {
            margin-top: 0;
        }
    }
}

.contenido-menu {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;

    .imagen,
    .texto {
        flex: 1;
    }
    
    .imagen {
        img {
            border: 3rem solid v.$blanco;
            box-shadow: 0px 0px 5px 3px rgb(0 0 0 / .25);
        }
    }
    
    .texto {
        @include m.tablet {
            p {
                margin-bottom: 0;
            }
        }

        @include m.desktop {
            p {
                margin-bottom: unset;
            }
        }
    }

    @include m.desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
    }
}

.margin-negativo-custom {
    margin-top: -16rem;

    @include m.tablet {
        margin-top: -8rem;
    }

    @include m.desktop {
        margin-top: -6rem;
    }
}